version: "3.9"

services:
  redis:
    image: redis
    restart: always

  db:
    image: postgres:13.0-alpine
    volumes:
      - data_value:/var/lib/postgresql/data/
    env_file:
      - ./.env

  web:
    image: petrichao/file:latest
    restart: always
    volumes:
      - static_value:/app/static/
      - media_value:/app/media/
    depends_on:
      - redis
    env_file:
      - ./.env
    command: ["gunicorn", "picasso_test.wsgi:application", "--bind", "0:8000"]

  worker:
    image: petrichao/file:latest
    restart: always
    command: ["celery", "--workdir=./", "-A", "picasso_test", "worker"]
    env_file:
      - ./.env

  nginx:
    image: nginx:1.21.3-alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - static_value:/var/html/static/
      - media_value:/var/html/media/
    depends_on:
      - web

volumes:
  data_value:
  static_value:
  media_value: